html {
  font-family: ui-rounded;
  font-size: max(5ch, 2vmax + 3vmin);
  line-height: 1.618;
}

p { max-width: 10em; margin: 1em 0 }
u { text-decoration: solid line-through }
ul { padding: 0 }
li:focus-within { list-style-type: square }
* { box-sizing: border-box }

a {
  display: inline-block;
  line-height: 2;
}

[class] {
  transition: filter 600ms;
}

[href] {
  text-decoration-line: overline;
  touch-action: manipulation;
}

[href^="#"] {
  text-decoration-style: wavy;
}

[href$=".css"] {
  text-decoration-style: dotted;
}

:focus {
  box-shadow: 0 0 1ex 1em;
  outline: 1em dotted;
  text-decoration-style: solid;
}

a:hover {
  text-decoration-style: double;
}


body {
  margin: 0;
  overflow-wrap: anywhere;
}

main {
  contain: layout;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

main > * {
  margin: auto;
  min-height: 100vh;
  padding: 1rem;
  padding-inline: max(1rem, 10vw);
}

footer a {
  padding-inline: 1ch;
}

:target {
  border-block-start: 1ch dotted var(--iffy);
  border-inline-end: 1ch double var(--yffi);
}

footer:target {
  box-shadow: 0 0 2vh 20vmax var(--iffy);
}

h1 {
  align-items: flex-start;
  display: flex;
  font-weight: 600;
  margin-top: 10vh;  
  min-height: 100vh;
}

h2 { font-weight: 500 }
h3 { margin: 0 }

@media (orientation: portrait) {
  article {
    min-width: 100%;
  }

  h1, h2, h3 {
    margin-inline: 2rem;
    writing-mode: vertical-lr;
  }
}

dl {
  flex-flow: wrap;
  display: flow-root;
  padding: 0;
}

dt {
  clear: both;
  float: left;
  float: inline-start;
}

dd {
  float: right;
  float: inline-end;
}

cite {
  font-style: unset;
  font-weight: 600;
}

mark {
  font: 900 1.618em cursive;
}

samp {
  font-size: 1.618em;
}
